<h2>Danh sách các cuốn sách</h2>
<span>Có <a>{{countBook}}</a> cuốn sách</span>
<button type="button" class="btn btn-outline-primary margin-left" [routerLink]="['/books']">Thêm sách mới</button>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Tên sách</th>
    <th scope="col">Tác giả</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let list of listBook">
    <th scope="row">{{list.id}}</th>
    <td> <a [routerLink]="['/books/detail', list.id]">
      {{list.title}}</a></td>
    <td>{{list.author}}</td>
    <td><button type="submit" class="btn btn-primary" routerLink="/books/edit/{{list.id}}">Sửa</button></td>
    <td><button type="submit" class="btn btn-danger" (click)="deleteBook(list.id)">Xóa</button></td>
  </tr>

</table>
